.img1{
    background-image: url(./../../assets/img_bg_1-PzvG2r05.jpg);
    background-size: cover;
    background-position: center;
}

.img2{
    background-image: url(./../../assets/img_bg_2-DzCs5o-0.jpg);
    background-size: cover;
    background-position: center;
}